.modalBoxMessage {
	margin: 5px;
	font-size: 12px;
	line-height: 1.4em;
}

.modelDesigner-loading {
	background: url('../img/select2-spinner.gif') center no-repeat;
	background-color: #aaa;
}

#xml_editor ul {
  margin-left: 0;
  list-style: none;
}

.mdMonospace {
	font-family: monospace;
}

.mdStatus {
	color: red;
}

.mdMessage {
	color: red;
	font-weight: bold;
}

#mdStackTrace {
	display: none;
}

.stRowNumber {
    background-color: #DDDDDD;
    display: inline-block;
    text-align: right;
    width: 2em;
    margin-right: 0.8em;
}

.stClassName {
	color: #555;
}

.stMethodName .stLineNumber {
	font-weight: bold;
}

