<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilizzoBeneVeicolo">
            <h2><span jhiTranslate="parcoautoApp.utilizzoBeneVeicolo.detail.title">Utilizzo Bene Veicolo</span> {{utilizzoBeneVeicolo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="parcoautoApp.utilizzoBeneVeicolo.nome">Nome</span></dt>
                <dd>
                    <span>{{utilizzoBeneVeicolo.nome}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilizzo-bene-veicolo', utilizzoBeneVeicolo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
