<div>
    <h2 id="page-heading">
        <span jhiTranslate="parcoautoApp.assicurazioneVeicolo.home.title">Assicurazione Veicolos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assicurazione-veicolo" [routerLink]="['/assicurazione-veicolo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="parcoautoApp.assicurazioneVeicolo.home.createLabel">
            Create new Assicurazione Veicolo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="assicurazioneVeicolos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compagniaAssicurazione"><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.compagniaAssicurazione">Compagnia Assicurazione</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataScadenza"><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.dataScadenza">Data Scadenza</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroPolizza"><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.numeroPolizza">Numero Polizza</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="polizza"><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.polizza">Polizza</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataInserimento"><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.dataInserimento">Data Inserimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="veicolo.targa"><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.veicolo">Veicolo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let assicurazioneVeicolo of assicurazioneVeicolos ;trackBy: trackId">
                <td><a [routerLink]="['/assicurazione-veicolo', assicurazioneVeicolo.id, 'view' ]">{{assicurazioneVeicolo.id}}</a></td>
                <td>{{assicurazioneVeicolo.compagniaAssicurazione}}</td>
                <td>{{assicurazioneVeicolo.dataScadenza | date:'mediumDate'}}</td>
                <td>{{assicurazioneVeicolo.numeroPolizza}}</td>
                <td>
                    <a *ngIf="assicurazioneVeicolo.polizza" (click)="openFile(assicurazioneVeicolo.polizzaContentType, assicurazioneVeicolo.polizza)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="assicurazioneVeicolo.polizza">{{assicurazioneVeicolo.polizzaContentType}}, {{byteSize(assicurazioneVeicolo.polizza)}}</span>
                </td>
                <td>{{assicurazioneVeicolo.dataInserimento | date:'medium'}}</td>
                <td>
                    <div *ngIf="assicurazioneVeicolo.veicolo">
                        <a [routerLink]="['../veicolo', assicurazioneVeicolo.veicolo?.id, 'view' ]" >{{assicurazioneVeicolo.veicolo?.targa}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/assicurazione-veicolo', assicurazioneVeicolo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/assicurazione-veicolo', assicurazioneVeicolo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'assicurazione-veicolo/'+ assicurazioneVeicolo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="assicurazioneVeicolos && assicurazioneVeicolos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
