<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assicurazioneVeicolo">
            <h2><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.detail.title">Assicurazione Veicolo</span> {{assicurazioneVeicolo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.compagniaAssicurazione">Compagnia Assicurazione</span></dt>
                <dd>
                    <span>{{assicurazioneVeicolo.compagniaAssicurazione}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.dataScadenza">Data Scadenza</span></dt>
                <dd>
                    <span>{{assicurazioneVeicolo.dataScadenza}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.numeroPolizza">Numero Polizza</span></dt>
                <dd>
                    <span>{{assicurazioneVeicolo.numeroPolizza}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.polizza">Polizza</span></dt>
                <dd>
                    <div *ngIf="assicurazioneVeicolo.polizza">
                        <a (click)="openFile(assicurazioneVeicolo.polizzaContentType, assicurazioneVeicolo.polizza)" jhiTranslate="entity.action.open">open</a>
                        {{assicurazioneVeicolo.polizzaContentType}}, {{byteSize(assicurazioneVeicolo.polizza)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.dataInserimento">Data Inserimento</span></dt>
                <dd>
                    <span>{{assicurazioneVeicolo.dataInserimento}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.assicurazioneVeicolo.veicolo">Veicolo</span></dt>
                <dd>
                    <div *ngIf="assicurazioneVeicolo.veicolo">
                        <a [routerLink]="['/veicolo', assicurazioneVeicolo.veicolo?.id, 'view']">{{assicurazioneVeicolo.veicolo?.targa}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assicurazione-veicolo', assicurazioneVeicolo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
