<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-auto-heading" jhiTranslate="autoApp.auto.home.createOrEditLabel">Create or edit a Auto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!auto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="auto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoApp.auto.targa" for="field_targa">Targa</label>
                    <input type="text" class="form-control" name="targa" id="field_targa"
                        [(ngModel)]="auto.targa" required/>
                    <div [hidden]="!(editForm.controls.targa?.dirty && editForm.controls.targa?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targa?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoApp.auto.marca" for="field_marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="field_marca"
                        [(ngModel)]="auto.marca" required/>
                    <div [hidden]="!(editForm.controls.marca?.dirty && editForm.controls.marca?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.marca?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoApp.auto.modello" for="field_modello">Modello</label>
                    <input type="text" class="form-control" name="modello" id="field_modello"
                        [(ngModel)]="auto.modello" required/>
                    <div [hidden]="!(editForm.controls.modello?.dirty && editForm.controls.modello?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modello?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoApp.auto.inizio_noleggio" for="field_inizio_noleggio">Inizio Noleggio</label>
                    <div class="input-group">
                        <input id="field_inizio_noleggio" type="text" class="form-control" name="inizio_noleggio" ngbDatepicker  #inizio_noleggioDp="ngbDatepicker" [(ngModel)]="auto.inizio_noleggio"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="inizio_noleggioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.inizio_noleggio?.dirty && editForm.controls.inizio_noleggio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.inizio_noleggio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoApp.auto.fine_noleggio" for="field_fine_noleggio">Fine Noleggio</label>
                    <div class="input-group">
                        <input id="field_fine_noleggio" type="text" class="form-control" name="fine_noleggio" ngbDatepicker  #fine_noleggioDp="ngbDatepicker" [(ngModel)]="auto.fine_noleggio"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fine_noleggioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fine_noleggio?.dirty && editForm.controls.fine_noleggio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fine_noleggio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoApp.auto.cds" for="field_cds">Cds</label>
                    <select class="form-control" id="field_cds" name="cds" [(ngModel)]="auto.cds" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="istitutiOption.id === auto.cds?.id ? auto.cds : istitutiOption" *ngFor="let istitutiOption of istitutis; trackBy: trackIstitutiById">{{istitutiOption.cds}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoApp.auto.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="auto.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === auto.user?.id ? auto.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
