<div>
    <h2 id="page-heading">
        <span jhiTranslate="parcoautoApp.multa.home.title">Multas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-multa" [routerLink]="['/multa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="parcoautoApp.multa.home.createLabel">
            Create new Multa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="multas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataMulta"><span jhiTranslate="parcoautoApp.multa.dataMulta">Data Multa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="multaPdf"><span jhiTranslate="parcoautoApp.multa.multaPdf">Multa Pdf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="visionatoMulta"><span jhiTranslate="parcoautoApp.multa.visionatoMulta">Visionato Multa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pagatoMulta"><span jhiTranslate="parcoautoApp.multa.pagatoMulta">Pagato Multa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="veicolo.targa"><span jhiTranslate="parcoautoApp.multa.veicolo">Veicolo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let multa of multas ;trackBy: trackId">
                <td><a [routerLink]="['/multa', multa.id, 'view' ]">{{multa.id}}</a></td>
                <td>{{multa.dataMulta | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="multa.multaPdf" (click)="openFile(multa.multaPdfContentType, multa.multaPdf)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="multa.multaPdf">{{multa.multaPdfContentType}}, {{byteSize(multa.multaPdf)}}</span>
                </td>
                <td>{{multa.visionatoMulta | date:'medium'}}</td>
                <td>{{multa.pagatoMulta}}</td>
                <td>
                    <div *ngIf="multa.veicolo">
                        <a [routerLink]="['../veicolo', multa.veicolo?.id, 'view' ]" >{{multa.veicolo?.targa}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/multa', multa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/multa', multa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'multa/'+ multa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="multas && multas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
