/* START typeahead */
.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
/* END typeahead */


/* START dropzone */
form.dropzone {
  border: 0;
  background: white;
}

form.dropzone .dz-default.dz-message{
  background-image: url('../images/drop.png');
  transition:width 1s, height 1s, background-color 1s, transform 500ms;
}

form.dropzone:hover .dz-message{
  transform: scale(1.2);
}
/* END dropzone */


/* START common-layout */
body {
  background-color: #DDD
}


@media (min-width: 992px) {
  body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

h1, h2, h3, h4, h5, strong, .navbar {
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: white;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.55),0 1px 15px rgba(0,0,0,0.25);
  padding-bottom: 20px
}
/* END common-layout */


/* START banner */
.banner {
  background-color: #5DAEF5;
  background: linear-gradient(to bottom, #5daef5 1%,#4d93cc 100%);
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-bottom: 0
}

.banner img {
  width: 100px;
}

.banner h1 {
  font-size: 140px;
  color: white;
  letter-spacing: -5px;
  margin-top: 0
}

.banner h2 {
  color: #DEF;
  letter-spacing: 6px;

}

.banner img {
  width: 100%;
}

@media (min-width: 768px) {
  .banner img {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .banner img {
    width: 970px;
  }
}

@media (min-width: 1200px) {

  .banner img {
    width: 1170px;
    height: 250px;

  }

}


.navbar {
  background-color: #DEF;
  border-radius: 0;
  border: 0;
}

.nav > li > a:hover {
  background-color: #DEF;
  color: #666
}
.nav > li.active,  .nav > li > a:focus {
  background-color: #FFF;
}

/* END banner */


/* START helpers */
.margin-bottom-helper {
  margin-bottom: 15px
}

.margin-right-helper {
  margin-right: 4px;
}
/* END helpers */


/* START tasks */
.tasks .row {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F8F8F8;
  box-shadow: 0px 10px 35px -23px rgba(0,0,0,.35);
}
.tasks .row-slim {
  padding-bottom: 0;
}
/* END tasks */

/* START workflow */
.workflow-definition {
  width: 400px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  font-weight: bold;
  color: white;
}

.workflow-definition-description {
  height:250px;
  padding: 40px;
}

.workflow-definition-action {
  height:50px;
  background:rgba(0,0,0,0.5);
  padding: 15px;
}

.workflow-definition-action a {
  color: rgba(255,255,255,.7);
  margin: 0 10px;
}

.workflow-definition-action a:hover {
  text-decoration: none;
  color: white;
}

.workflow-definition-0 {
  background-color: #651FFF;
  background-image: url('../images/icons/asterisk2.png');
}

.workflow-definition-1 {
  background-color: #00BCD4;
  background-image: url('../images/icons/bull1.png');
}

.workflow-definition-2 {
  background-color: #43A047;
  background-image: url('../images/icons/code11.png');
}

.workflow-definition-3 {
  background-color: #F9A825;
  background-image: url('../images/icons/comment32.png');
}

.workflow-definition-4 {
  background-color: #E53935;
  background-image: url('../images/icons/bell13.png');
}

.workflow-definition-5 {
  background-color: #7B1FA2;
  background-image: url('../images/icons/bullseye.png');
}

.workflow-definition-6 {
  background-color: #2196F3;
  background-image: url('../images/icons/cogs3.png');
}

.workflow-definition-7 {
  background-color: #8BC34A;
  background-image: url('../images/icons/lightning14.png');
}

/* END workflow */


/* TEMP */
.search li {
  padding: 10px 0;
}
