/* START typeahead */
.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
/* END typeahead */


/* START dropzone */
form.dropzone {
  border: 0;
  background: white;
}

form.dropzone .dz-default.dz-message{
  background-image: url('../images/drop.png');
  transition:width 1s, height 1s, background-color 1s, transform 500ms;
}

form.dropzone:hover .dz-message{
  transform: scale(1.2);
}
/* END dropzone */


/* START common-layout */
html, body {
  height: 100%;
}

body {
  background-color: #EF7059
}

h1, h2, h3, h4, h5, strong, .navbar {
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: white;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.55),0 1px 15px rgba(0,0,0,0.25);
  min-height: 100%
}
/* END common-layout */


/* START super */
.super {
  background-color: #666;
  color: #999;
  padding: 2px 20px;
  font-size: 12px;
  font-weight: bold
}

.super a {
  color: #CCC;
}

.super a:hover {
  color: #EEE;
  text-decoration: none

}
/* END super */


/* START banner */
.banner {
  background-color: #5DAEF5;
  height: 250px;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-bottom: 0
}

.banner h1 {
  font-size: 140px;
  color: white;
  letter-spacing: -5px;
  margin-top: 0
}

.banner h2 {
  color: #DEF;
  letter-spacing: 6px;

}

.navbar {
  background-color: #DEF;
  border-radius: 0;
  border: 0;
}

.nav > li > a:hover {
  background-color: #DEF;
  color: #666
}
.nav > li.active,  .nav > li > a:focus {
  background-color: #FFF;
}

/* END banner */


/* START helpers */
.margin-bottom-helper {
  margin-bottom: 15px
}

.margin-right-helper {
  margin-right: 4px;
}

.margin-top-helper {
  margin-top: 50px;
}
/* END helpers */


/* START tasks */
.tasks .row {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F8F8F8;
  box-shadow: 0px 10px 35px -23px rgba(0,0,0,.35);
}
/* END tasks */
