<div>
    <h2 id="page-heading">
        <span jhiTranslate="parcoautoApp.bollo.home.title">Bollos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bollo" [routerLink]="['/bollo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="parcoautoApp.bollo.home.createLabel">
            Create new Bollo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bollos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataScadenza"><span jhiTranslate="parcoautoApp.bollo.dataScadenza">Data Scadenza</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bolloPdf"><span jhiTranslate="parcoautoApp.bollo.bolloPdf">Bollo Pdf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="visionatoBollo"><span jhiTranslate="parcoautoApp.bollo.visionatoBollo">Visionato Bollo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pagato"><span jhiTranslate="parcoautoApp.bollo.pagato">Pagato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="veicolo.targa"><span jhiTranslate="parcoautoApp.bollo.veicolo">Veicolo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bollo of bollos ;trackBy: trackId">
                <td><a [routerLink]="['/bollo', bollo.id, 'view' ]">{{bollo.id}}</a></td>
                <td>{{bollo.dataScadenza | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="bollo.bolloPdf" (click)="openFile(bollo.bolloPdfContentType, bollo.bolloPdf)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="bollo.bolloPdf">{{bollo.bolloPdfContentType}}, {{byteSize(bollo.bolloPdf)}}</span>
                </td>
                <td>{{bollo.visionatoBollo | date:'medium'}}</td>
                <td>{{bollo.pagato}}</td>
                <td>
                    <div *ngIf="bollo.veicolo">
                        <a [routerLink]="['../veicolo', bollo.veicolo?.id, 'view' ]" >{{bollo.veicolo?.targa}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bollo', bollo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bollo', bollo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bollo/'+ bollo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bollos && bollos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
