<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bollo-heading" jhiTranslate="parcoautoApp.bollo.home.createOrEditLabel">Create or edit a Bollo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bollo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bollo.id" readonly />
                </div>
                <div class="card border-primary mt-1">
                    <div class="card-header text-white bg-primary">
                        Dati Veicolo
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="parcoautoApp.bollo.veicolo" for="field_veicolo">Veicolo</label>
                                    <select class="form-control" id="field_veicolo" name="veicolo" [(ngModel)]="bollo.veicolo"  required>
                                        <option *ngIf="!editForm.value.veicolo" [ngValue]="null" selected></option>
                                        <option [ngValue]="veicoloOption.id === bollo.veicolo?.id ? bollo.veicolo : veicoloOption" *ngFor="let veicoloOption of veicolos; trackBy: trackVeicoloById">{{veicoloOption.targa}} - {{veicoloOption.marca}} {{veicoloOption.modello}}</option>
                                    </select>
                                </div>
                                <div [hidden]="!(editForm.controls.veicolo?.dirty && editForm.controls.veicolo?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.veicolo?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-primary mt-1">
                    <div class="card-header text-white bg-primary">
                        Dati Bollo
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="parcoautoApp.bollo.dataScadenza" for="field_dataScadenza">Data Scadenza</label>
                                    <div class="input-group">
                                        <input id="field_dataScadenza" type="text" class="form-control" name="dataScadenza" ngbDatepicker  #dataScadenzaDp="ngbDatepicker" [(ngModel)]="bollo.dataScadenza"
                                        />
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" (click)="dataScadenzaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="parcoautoApp.bollo.bolloPdf" for="field_bolloPdf">Bollo Pdf</label>
                                    <div>
                                        <div *ngIf="bollo.bolloPdf" class="form-text text-danger clearfix">
                                            <a class="pull-left" (click)="openFile(bollo.bolloPdfContentType, bollo.bolloPdf)" jhiTranslate="entity.action.open">open</a><br>
                                                <span class="pull-left">{{bollo.bolloPdfContentType}}, {{byteSize(bollo.bolloPdf)}}</span>
                                            <button type="button" (click)="bollo.bolloPdf=null;bollo.bolloPdfContentType=null;"
                                                class="btn btn-secondary btn-xs pull-right">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                        <input type="file" id="file_bolloPdf" (change)="setFileData($event, bollo, 'bolloPdf', false)" jhiTranslate="entity.action.addblob"/>
                                    </div>
                                    <input type="hidden" class="form-control" name="bolloPdf" id="field_bolloPdf"
                                        [(ngModel)]="bollo.bolloPdf" />
                                    <input type="hidden" class="form-control" name="bolloPdfContentType" id="field_bolloPdfContentType"
                                        [(ngModel)]="bollo.bolloPdfContentType" />
                                </div>
                            </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.bollo.visionatoBollo" for="field_visionatoBollo">Visionato Bollo</label>
                    <div class="d-flex">
                        <input id="field_visionatoBollo" type="datetime-local" class="form-control" name="visionatoBollo" [(ngModel)]="visionatoBollo"
                        />
                    </div>
                </div>-->
                            <div class="form-group col-md-7">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="parcoautoApp.bollo.pagato" for="field_pagato">Pagato</label>
                                    <input type="checkbox" class="form-control" name="pagato" id="field_pagato"
                                        [(ngModel)]="bollo.pagato" />
                                    <div [hidden]="!(editForm.controls.pagato?.dirty && editForm.controls.pagato?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.pagato?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <button type="button" id="cancel-save" class="btn btn-outline-secondary col-md-5"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-outline-primary col-md-5 ml-auto">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
