<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="veicoloNoleggio">
            <h2><span jhiTranslate="parcoautoApp.veicoloNoleggio.detail.title">Veicolo Noleggio</span> {{veicoloNoleggio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.societa">Societa</span></dt>
                <dd>
                    <span>{{veicoloNoleggio.societa}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.dataInizioNoleggio">Data Inizio Noleggio</span></dt>
                <dd>
                    <span>{{veicoloNoleggio.dataInizioNoleggio}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.dataFineNoleggio">Data Fine Noleggio</span></dt>
                <dd>
                    <span>{{veicoloNoleggio.dataFineNoleggio}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.dataCessazioneAnticipata">Data Cessazione Anticipata</span></dt>
                <dd>
                    <span>{{veicoloNoleggio.dataCessazioneAnticipata}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.dataProroga">Data Proroga</span></dt>
                <dd>
                    <span>{{veicoloNoleggio.dataProroga}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.libretto">Libretto</span></dt>
                <dd>
                    <div *ngIf="veicoloNoleggio.libretto">
                        <a (click)="openFile(veicoloNoleggio.librettoContentType, veicoloNoleggio.libretto)" jhiTranslate="entity.action.open">open</a>
                        {{veicoloNoleggio.librettoContentType}}, {{byteSize(veicoloNoleggio.libretto)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.codiceTerzo">Codice Terzo</span></dt>
                <dd>
                    <span>{{veicoloNoleggio.codiceTerzo}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.repContrattiAnno">Rep Contratti Anno</span></dt>
                <dd>
                    <span>{{veicoloNoleggio.repContrattiAnno}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.repContrattiNumero">Rep Contratti Numero</span></dt>
                <dd>
                    <span>{{veicoloNoleggio.repContrattiNumero}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicoloNoleggio.veicolo">Veicolo</span></dt>
                <dd>
                    <div *ngIf="veicoloNoleggio.veicolo">
                        <a [routerLink]="['/veicolo', veicoloNoleggio.veicolo?.id, 'view']">{{veicoloNoleggio.veicolo?.targa}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/veicolo-noleggio', veicoloNoleggio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
