<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-veicolo-noleggio-heading" jhiTranslate="parcoautoApp.veicoloNoleggio.home.createOrEditLabel">Create or edit a Veicolo Noleggio</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!veicoloNoleggio.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="veicoloNoleggio.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.veicoloNoleggio.societa" for="field_societa">Societa</label>
                    <input type="text" class="form-control" name="societa" id="field_societa"
                        [(ngModel)]="veicoloNoleggio.societa" required/>
                    <div [hidden]="!(editForm.controls.societa?.dirty && editForm.controls.societa?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.societa?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.veicoloNoleggio.datainizioNoleggio" for="field_datainizioNoleggio">Datainizio Noleggio</label>
                    <div class="input-group">
                        <input id="field_datainizioNoleggio" type="text" class="form-control" name="datainizioNoleggio" ngbDatepicker  #datainizioNoleggioDp="ngbDatepicker" [(ngModel)]="veicoloNoleggio.datainizioNoleggio"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datainizioNoleggioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.datainizioNoleggio?.dirty && editForm.controls.datainizioNoleggio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.datainizioNoleggio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.veicoloNoleggio.datafineNoleggio" for="field_datafineNoleggio">Datafine Noleggio</label>
                    <div class="input-group">
                        <input id="field_datafineNoleggio" type="text" class="form-control" name="datafineNoleggio" ngbDatepicker  #datafineNoleggioDp="ngbDatepicker" [(ngModel)]="veicoloNoleggio.datafineNoleggio"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datafineNoleggioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.datafineNoleggio?.dirty && editForm.controls.datafineNoleggio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.datafineNoleggio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.veicoloNoleggio.datacessazioneAnticipata" for="field_datacessazioneAnticipata">Datacessazione Anticipata</label>
                    <div class="input-group">
                        <input id="field_datacessazioneAnticipata" type="text" class="form-control" name="datacessazioneAnticipata" ngbDatepicker  #datacessazioneAnticipataDp="ngbDatepicker" [(ngModel)]="veicoloNoleggio.datacessazioneAnticipata"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datacessazioneAnticipataDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.veicoloNoleggio.dataProroga" for="field_dataProroga">Data Proroga</label>
                    <div class="input-group">
                        <input id="field_dataProroga" type="text" class="form-control" name="dataProroga" ngbDatepicker  #dataProrogaDp="ngbDatepicker" [(ngModel)]="veicoloNoleggio.dataProroga"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataProrogaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.veicoloNoleggio.libretto" for="field_libretto">Libretto</label>
                    <div>
                        <div *ngIf="veicoloNoleggio.libretto" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(veicoloNoleggio.librettoContentType, veicoloNoleggio.libretto)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{veicoloNoleggio.librettoContentType}}, {{byteSize(veicoloNoleggio.libretto)}}</span>
                            <button type="button" (click)="veicoloNoleggio.libretto=null;veicoloNoleggio.librettoContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_libretto" (change)="setFileData($event, veicoloNoleggio, 'libretto', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="libretto" id="field_libretto"
                        [(ngModel)]="veicoloNoleggio.libretto" required/>
                    <input type="hidden" class="form-control" name="librettoContentType" id="field_librettoContentType"
                        [(ngModel)]="veicoloNoleggio.librettoContentType" />
                    <div [hidden]="!(editForm.controls.libretto?.dirty && editForm.controls.libretto?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libretto?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.veicoloNoleggio.targa" for="field_targa">Targa</label>
                    <select class="form-control" id="field_targa" name="targa" [(ngModel)]="veicoloNoleggio.targa"  required>
                        <option *ngIf="!editForm.value.targa" [ngValue]="null" selected></option>
                        <option [ngValue]="veicoloOption.id === veicoloNoleggio.targa?.id ? veicoloNoleggio.targa : veicoloOption" *ngFor="let veicoloOption of veicolos; trackBy: trackVeicoloById">{{veicoloOption.targa}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.targa?.dirty && editForm.controls.targa?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targa?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
