<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utenza">
            <h2><span jhiTranslate="parcoautoApp.utenza.detail.title">Utenza</span> {{utenza.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="parcoautoApp.utenza.matricola">Matricola</span></dt>
                <dd>
                    <span>{{utenza.matricola}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.utenza.uid">Uid</span></dt>
                <dd>
                    <span>{{utenza.uid}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utenza', utenza.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
