<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-utenza-heading" jhiTranslate="parcoautoApp.utenza.home.createOrEditLabel">Create or edit a Utenza</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!utenza.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="utenza.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.utenza.matricola" for="field_matricola">Matricola</label>
                    <input type="number" class="form-control" name="matricola" id="field_matricola"
                        [(ngModel)]="utenza.matricola" required/>
                    <div [hidden]="!(editForm.controls.matricola?.dirty && editForm.controls.matricola?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.matricola?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.matricola?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.utenza.uid" for="field_uid">Uid</label>
                    <input type="text" class="form-control" name="uid" id="field_uid"
                        [(ngModel)]="utenza.uid" required/>
                    <div [hidden]="!(editForm.controls.uid?.dirty && editForm.controls.uid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uid?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
