<div>
    <h2 id="page-heading">
        <span jhiTranslate="parcoautoApp.veicoloProprieta.home.title">Veicolo Proprietas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-veicolo-proprieta" [routerLink]="['/veicolo-proprieta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="parcoautoApp.veicoloProprieta.home.createLabel">
            Create new Veicolo Proprieta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="veicoloProprietas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataImmatricolazione"><span jhiTranslate="parcoautoApp.veicoloProprieta.dataImmatricolazione">Data Immatricolazione</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataAcquisto"><span jhiTranslate="parcoautoApp.veicoloProprieta.dataAcquisto">Data Acquisto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regioneImmatricolazione"><span jhiTranslate="parcoautoApp.veicoloProprieta.regioneImmatricolazione">Regione Immatricolazione</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="libretto"><span jhiTranslate="parcoautoApp.veicoloProprieta.libretto">Libretto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="certificatoProprieta"><span jhiTranslate="parcoautoApp.veicoloProprieta.certificatoProprieta">Certificato Proprieta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataPerditaProprieta"><span jhiTranslate="parcoautoApp.veicoloProprieta.dataPerditaProprieta">Data Perdita Proprieta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="altraMotivazionePerditaProprieta"><span jhiTranslate="parcoautoApp.veicoloProprieta.altraMotivazionePerditaProprieta">Altra Motivazione Perdita Proprieta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cancellazionePra"><span jhiTranslate="parcoautoApp.veicoloProprieta.cancellazionePra">Cancellazione Pra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="motivazionePerditaProprieta.nome"><span jhiTranslate="parcoautoApp.veicoloProprieta.motivazionePerditaProprieta">Motivazione Perdita Proprieta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="veicolo.targa"><span jhiTranslate="parcoautoApp.veicoloProprieta.veicolo">Veicolo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let veicoloProprieta of veicoloProprietas ;trackBy: trackId">
                <td><a [routerLink]="['/veicolo-proprieta', veicoloProprieta.id, 'view' ]">{{veicoloProprieta.id}}</a></td>
                <td>{{veicoloProprieta.dataImmatricolazione | date:'mediumDate'}}</td>
                <td>{{veicoloProprieta.dataAcquisto | date:'mediumDate'}}</td>
                <td>{{veicoloProprieta.regioneImmatricolazione}}</td>
                <td>
                    <a *ngIf="veicoloProprieta.libretto" (click)="openFile(veicoloProprieta.librettoContentType, veicoloProprieta.libretto)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="veicoloProprieta.libretto">{{veicoloProprieta.librettoContentType}}, {{byteSize(veicoloProprieta.libretto)}}</span>
                </td>
                <td>
                    <a *ngIf="veicoloProprieta.certificatoProprieta" (click)="openFile(veicoloProprieta.certificatoProprietaContentType, veicoloProprieta.certificatoProprieta)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="veicoloProprieta.certificatoProprieta">{{veicoloProprieta.certificatoProprietaContentType}}, {{byteSize(veicoloProprieta.certificatoProprieta)}}</span>
                </td>
                <td>{{veicoloProprieta.dataPerditaProprieta | date:'mediumDate'}}</td>
                <td>{{veicoloProprieta.altraMotivazionePerditaProprieta}}</td>
                <td>
                    <a *ngIf="veicoloProprieta.cancellazionePra" (click)="openFile(veicoloProprieta.cancellazionePraContentType, veicoloProprieta.cancellazionePra)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="veicoloProprieta.cancellazionePra">{{veicoloProprieta.cancellazionePraContentType}}, {{byteSize(veicoloProprieta.cancellazionePra)}}</span>
                </td>
                <td>
                    <div *ngIf="veicoloProprieta.motivazionePerditaProprieta">
                        <a [routerLink]="['../motivazione-perdita-proprieta', veicoloProprieta.motivazionePerditaProprieta?.id, 'view' ]" >{{veicoloProprieta.motivazionePerditaProprieta?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="veicoloProprieta.veicolo">
                        <a [routerLink]="['../veicolo', veicoloProprieta.veicolo?.id, 'view' ]" >{{veicoloProprieta.veicolo?.targa}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/veicolo-proprieta', veicoloProprieta.id, 'view' ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<fa-icon [icon]="'eye'"></fa-icon>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                        <button type="submit"
                                [routerLink]="['/veicolo-proprieta', veicoloProprieta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'veicolo-proprieta/'+ veicoloProprieta.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<fa-icon [icon]="'times'"></fa-icon>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        <!--</button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="veicoloProprietas && veicoloProprietas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
