<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cancellazione-pra-heading" jhiTranslate="parcoautoApp.cancellazionePra.home.createOrEditLabel">Create or edit a Cancellazione Pra</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cancellazionePra.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cancellazionePra.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.cancellazionePra.dataConsegna" for="field_dataConsegna">Data Consegna</label>
                    <div class="input-group">
                        <input id="field_dataConsegna" type="text" class="form-control" name="dataConsegna" ngbDatepicker  #dataConsegnaDp="ngbDatepicker" [(ngModel)]="cancellazionePra.dataConsegna"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataConsegnaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dataConsegna?.dirty && editForm.controls.dataConsegna?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataConsegna?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.cancellazionePra.documentoPra" for="field_documentoPra">Documento Pra</label>
                    <div>
                        <div *ngIf="cancellazionePra.documentoPra" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(cancellazionePra.documentoPraContentType, cancellazionePra.documentoPra)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{cancellazionePra.documentoPraContentType}}, {{byteSize(cancellazionePra.documentoPra)}}</span>
                            <button type="button" (click)="cancellazionePra.documentoPra=null;cancellazionePra.documentoPraContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_documentoPra" (change)="setFileData($event, cancellazionePra, 'documentoPra', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="documentoPra" id="field_documentoPra"
                        [(ngModel)]="cancellazionePra.documentoPra" required/>
                    <input type="hidden" class="form-control" name="documentoPraContentType" id="field_documentoPraContentType"
                        [(ngModel)]="cancellazionePra.documentoPraContentType" />
                    <div [hidden]="!(editForm.controls.documentoPra?.dirty && editForm.controls.documentoPra?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.documentoPra?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parcoautoApp.cancellazionePra.veicolo" for="field_veicolo">Veicolo</label>
                    <select class="form-control" id="field_veicolo" name="veicolo" [(ngModel)]="cancellazionePra.veicolo" required>
                        <option *ngIf="!editForm.value.veicolo" [ngValue]="null" selected></option>
                        <option [ngValue]="veicoloOption.id === cancellazionePra.veicolo?.id ? cancellazionePra.veicolo : veicoloOption" *ngFor="let veicoloOption of veicolos; trackBy: trackVeicoloById">{{veicoloOption.targa}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.veicolo?.dirty && editForm.controls.veicolo?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.veicolo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
