<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="veicolo">
            <h2><span jhiTranslate="parcoautoApp.veicolo.detail.title">Veicolo</span> {{veicolo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="parcoautoApp.veicolo.targa">Targa</span></dt>
                <dd>
                    <span>{{veicolo.targa}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.marca">Marca</span></dt>
                <dd>
                    <span>{{veicolo.marca}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.modello">Modello</span></dt>
                <dd>
                    <span>{{veicolo.modello}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.cilindrata">Cilindrata</span></dt>
                <dd>
                    <span>{{veicolo.cilindrata}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.cvKw">Cv Kw</span></dt>
                <dd>
                    <span>{{veicolo.cvKw}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.kmPercorsi">Km Percorsi</span></dt>
                <dd>
                    <span>{{veicolo.kmPercorsi}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.dataValidazione">Data Validazione</span></dt>
                <dd>
                    <span>{{veicolo.dataValidazione}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.istituto">Istituto</span></dt>
                <dd>
                    <span>{{veicolo.istituto}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.responsabile">Responsabile</span></dt>
                <dd>
                    <span>{{veicolo.responsabile}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.cdsuo">Cdsuo</span></dt>
                <dd>
                    <span>{{veicolo.cdsuo}}</span>
                </dd>
                <!--<dt><span jhiTranslate="parcoautoApp.veicolo.deleted">Deleted</span></dt>
                <dd>
                    <span>{{veicolo.deleted}}</span>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.deleted_note">Deleted Note</span></dt>
                <dd>
                    <span>{{veicolo.deleted_note}}</span>
                </dd>-->
                <dt><span jhiTranslate="parcoautoApp.veicolo.tipologiaVeicolo">Tipologia Veicolo</span></dt>
                <dd>
                    <div *ngIf="veicolo.tipologiaVeicolo">
                        <a [routerLink]="['/tipologia-veicolo', veicolo.tipologiaVeicolo?.id, 'view']">{{veicolo.tipologiaVeicolo?.nome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.alimentazioneVeicolo">Alimentazione Veicolo</span></dt>
                <dd>
                    <div *ngIf="veicolo.alimentazioneVeicolo">
                        <a [routerLink]="['/alimentazione-veicolo', veicolo.alimentazioneVeicolo?.id, 'view']">{{veicolo.alimentazioneVeicolo?.nome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.classeEmissioniVeicolo">Classe Emissioni Veicolo</span></dt>
                <dd>
                    <div *ngIf="veicolo.classeEmissioniVeicolo">
                        <a [routerLink]="['/classe-emissioni-veicolo', veicolo.classeEmissioniVeicolo?.id, 'view']">{{veicolo.classeEmissioniVeicolo?.nome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="parcoautoApp.veicolo.utilizzoBeneVeicolo">Utilizzo Bene Veicolo</span></dt>
                <dd>
                    <div *ngIf="veicolo.utilizzoBeneVeicolo">
                        <a [routerLink]="['/utilizzo-bene-veicolo', veicolo.utilizzoBeneVeicolo?.id, 'view']">{{veicolo.utilizzoBeneVeicolo?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/veicolo', veicolo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
