<div>
    <h2 id="page-heading">
        <span jhiTranslate="parcoautoApp.veicolo.home.title">Veicolos</span>
        <button (click)="openFile()" class="btn btn-outline-danger float-right ml-1">
            <fa-icon [icon]="'file-pdf'"></fa-icon> Stampa veicoli
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-veicolo" [routerLink]="['/veicolo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="parcoautoApp.veicolo.home.createLabel">
            Create new Veicolo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="veicolos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="targa"><span jhiTranslate="parcoautoApp.veicolo.targa">Targa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marca"><span jhiTranslate="parcoautoApp.veicolo.marca">Marca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modello"><span jhiTranslate="parcoautoApp.veicolo.modello">Modello</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cilindrata"><span jhiTranslate="parcoautoApp.veicolo.cilindrata">Cilindrata</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cvKw"><span jhiTranslate="parcoautoApp.veicolo.cvKw">Cv Kw</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kmPercorsi"><span jhiTranslate="parcoautoApp.veicolo.kmPercorsi">Km Percorsi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataValidazione"><span jhiTranslate="parcoautoApp.veicolo.dataValidazione">Data Validazione</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="istituto"><span jhiTranslate="parcoautoApp.veicolo.istituto">Istituto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="responsabile"><span jhiTranslate="parcoautoApp.veicolo.responsabile">Responsabile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cdsuo"><span jhiTranslate="parcoautoApp.veicolo.cdsuo">Cdsuo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="deleted"><span jhiTranslate="parcoautoApp.veicolo.deleted">Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleted_note"><span jhiTranslate="parcoautoApp.veicolo.deleted_note">Deleted Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="tipologiaVeicolo.nome"><span jhiTranslate="parcoautoApp.veicolo.tipologiaVeicolo">Tipologia Veicolo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="alimentazioneVeicolo.nome"><span jhiTranslate="parcoautoApp.veicolo.alimentazioneVeicolo">Alimentazione Veicolo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="classeEmissioniVeicolo.nome"><span jhiTranslate="parcoautoApp.veicolo.classeEmissioniVeicolo">Classe Emissioni Veicolo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="utilizzoBeneVeicolo.nome"><span jhiTranslate="parcoautoApp.veicolo.utilizzoBeneVeicolo">Utilizzo Bene Veicolo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let veicolo of veicolos ;trackBy: trackId">
                <td><a [routerLink]="['/veicolo', veicolo.id, 'view' ]">{{veicolo.id}}</a></td>
                <td>{{veicolo.targa}}</td>
                <td>{{veicolo.marca}}</td>
                <td>{{veicolo.modello}}</td>
                <td>{{veicolo.cilindrata}}</td>
                <td>{{veicolo.cvKw}}</td>
                <td>{{veicolo.kmPercorsi}}</td>
                <td>{{veicolo.dataValidazione | date:'medium'}}</td>
                <td>{{veicolo.istituto}}</td>
                <td>{{veicolo.responsabile}}</td>
                <td>{{veicolo.cdsuo}}</td>
                <!--<td>{{veicolo.deleted}}</td>
                <td>{{veicolo.deleted_note}}</td>-->
                <td>
                    <div *ngIf="veicolo.tipologiaVeicolo">
                        <a [routerLink]="['../tipologia-veicolo', veicolo.tipologiaVeicolo?.id, 'view' ]" >{{veicolo.tipologiaVeicolo?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="veicolo.alimentazioneVeicolo">
                        <a [routerLink]="['../alimentazione-veicolo', veicolo.alimentazioneVeicolo?.id, 'view' ]" >{{veicolo.alimentazioneVeicolo?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="veicolo.classeEmissioniVeicolo">
                        <a [routerLink]="['../classe-emissioni-veicolo', veicolo.classeEmissioniVeicolo?.id, 'view' ]" >{{veicolo.classeEmissioniVeicolo?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="veicolo.utilizzoBeneVeicolo">
                        <a [routerLink]="['../utilizzo-bene-veicolo', veicolo.utilizzoBeneVeicolo?.id, 'view' ]" >{{veicolo.utilizzoBeneVeicolo?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/veicolo', veicolo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/veicolo', veicolo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'veicolo/'+ veicolo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="veicolos && veicolos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
